body {
    font-size: 24px;
}

.buttons {
    display: flex;
    padding: 5vh 5vw;
}

.selection {
    flex: 1;
    font-size: 32px;
    border: 2px solid black;
    border-radius: 4px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}